<h2>Lista de categorias: </h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a>
{{#each categorias}}
<div class="card mt-2">
    <div class="card-body">
        <h6>
            {{nome}}
        </h6>
        <small>
            slug: {{slug}}
        </small>
        <br>
        <small>
            Data de criação: {{date}}
        </small>
        <br>
        <a href="/admin/categorias/edit/{{_id}}">
            <button class="btn btn-success mt-2">Editar</button>
        </a>
        <br>
        <form action="/admin/categorias/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-danger mt-2">Deletar</button>
        </form>

    </div>

</div>

{{else}}

<div class="container mt-2">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Nenhuma categoria registrada!</h4>
        <p>Clique em nova categoria para registrar uma categoria.</p>
    </div>
</div>

{{/each}}