{{#each professores}}

<div class="card">
    <div class="card-body">

        <h4>
            {{nome}}
        </h4>

        <small>
            {{sobrenome}}
        </small>

        <small>
            {{username}}
        </small>

        <small>
            {{mail}}
        </small>

        <small>
            {{password}}
        </small>

    </div>
</div>

{{/each}}